* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat';
    box-sizing: border-box !important;
    word-break: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
}

input {
    border-color: rgba(1, 1, 1, 0);
}

textarea {
    resize: none;
}

html {
    background-color: #0F0D0D;
    font-size: 21px;
    height: 100%;
}

body, html, #root, main{
    height: 100%;
}

.bold {
    font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #5E5E5E inset;
    transition: background-color 5000s ease-in-out 0s;
}

html::-webkit-scrollbar{
    display: none;
}

html, body {margin: 0; height: 100%; overflow: hidden}

main::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0;
}

div::-webkit-scrollbar,
textarea::-webkit-scrollbar,
select::-webkit-scrollbar,
ul::-webkit-scrollbar {
    background: #D9D9D970;
    border-radius: 7.5px;
    width: 10px;
}

div::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
select::-webkit-scrollbar-thumb:hover,
ul::-webkit-scrollbar-thumb:hover {
    background: #BEBEBE;
}

div::-webkit-scrollbar-thumb:active,
textarea::-webkit-scrollbar-thumb:active,
ul::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.44);
}

div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 7.5px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.enter-page {
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    width: 654px;
    background: #272626;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 38px 97px 38px 97px;
    box-sizing: border-box;
    font-style: normal;
    font-size: 25px;
}

.enter-page img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.enter-page input {
    display: block;
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    background-color: #272626;
    height: 34px;
    font-size: 18px;
    padding-left: 35px;
    margin-bottom: 20px;
}

.enter-page .input-block:nth-child(2) input {
    margin-bottom: 10px;
}

.solo-input {
    margin-top: 10%;
    margin-bottom: 10%;
}

.enter-page input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.enter-page label {
    display: block;
    margin-bottom: 10px;
}

.label-container {
    position: relative;
}

.label-container img {
    position: absolute;
    top: 10%;
    left: 1%;
}

.assistance-block {
    display: flex;
}

.error-message {
    color: #FFBABA;
    font-size: 18px;
}

.forget-password-button {
    font-size: 18px;
    margin-left: auto;
}

.enter-page .message {
    text-align: center;
    font-size: 22px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.send-button {
    display: block;
    width: 183px;
    height: 42px;
    border-radius: 10px;
    background: #00C996;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 24px;
}

header {
    height: 65px;
    box-sizing: border-box;
    padding: 6px 12%;
    background: #272626;
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 1440px;
    max-height: 93vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
}

.planet-background{
    background-image: url(/public/background.svg);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 5px;
}

.progress-bar {
    margin-top: 5px;
    font-size: 1em;
    min-width: 15%;
    text-align: center;
}

.progress-bar div[role="progressbar"] {
    display: inline-block !important;
    min-width: 280px
}

.notification-profile-block {
    width: 122px;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.notifications {
    margin-top: 4px;
    user-select: none;
}

.notifications-number {
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 0.7em;
    font-weight: 700;
    background-color: #00C996;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 3px;
    text-align: center;
    box-sizing: border-box;
}

.notification-block {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    width: 470px;
    background-color: #3E3D3D;
    right: 15%;
    top: 65px;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    user-select: none;
}

.read-all-notifications {
    display: flex;
    gap: 6px;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.22);
    padding: 12px 0 12px 13px;
}

.read-all-notifications svg{
    cursor: pointer;
}

.read-all-notifications svg:hover path{
    fill:#00C996;
}

.notification-list {
    overflow: auto;
    overflow-x: hidden;
    height: 700px;
}

.notification-data {
    position: relative;
    width: 100%;
}

.notification-data-text {
    padding-right: 25px;
    word-break: break-word;
}

.notification-item {
    display: flex;
    gap: 8px;
    padding: 5px;
}

.notification-item:hover{
    background-color: #5E5E5E;
}

.notification-item img {
    border-radius: 50%;
}

.notification-item p,
.notification-item b {
    font-size: 0.8rem;
}

.notification-date {
    margin-top: 20px;
    text-align: end;
}

.not-checked {
    position: absolute;
    left: 95%;
    top: 25%;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #00C996;
}

.user-name {
    width: 95%;
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-buttons {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    width: 446px;
    background-color: rgba(62, 61, 61, 1);
    right: 12%;
    top: 65px;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 9px;
    user-select: none;
}

.profile-buttons .flex {
    display: flex;
    margin-bottom: 6px;
    gap: 6px;
}

.profile-buttons .flex:nth-last-child(1) {
    margin-bottom: 0;
}

.profile-buttons button {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    border-radius: 13px;
    background: #1B1A1A;
    padding: 7px;
    user-select: none !important;
}

.profile-buttons button:hover {
    background-color: #5E5E5E;
}

.profile-buttons button p {
    width: 100%;
}

.achievements-block,
.progress-block,
.useful-links-block,
.decline-comment-dialog,
.add-employee-form,
.employee-data,
.update-image,
.edit-profile-page {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 55%;
    max-width: 937px;
    height: fit-content;
    border-radius: 15px;
    background: #252424;
    padding: 20px 0 0 20px;
}

.achievements-header,
.progress-header,
.useful-links-header,
.update-image-header,
.edit-profile-page-header {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.achievements-header button,
.progress-header button,
.update-image-header button,
.edit-profile-page-header button {
    position: absolute;
    left: 94%;
}

.achievements-progress-bar {
    margin-bottom: 30px;
    margin-right: 30px;
}

.achievements-content,
.progress-content {
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    max-height: 651px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.achievements-content {
    display: flex;
    gap: 15px;
    height: fit-content;
}

.achievement {
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    gap: 6px;
    position: relative;
    font-size: 17px;
    width: 49%;
    border-radius: 14px;
    background: rgba(72, 72, 72, 0.75);
    padding: 5px;
}

.achievement-data{
    padding-right: 55px;
}

.achievement .type {
    font-weight: 700;
}

.achievement .completed-icon {
    position: absolute;
    left: 87%;
}

.progress-data {
    border-radius: 21px;
    background: #3F3F3F;
    margin-bottom: 35px;
    padding: 20px 20px;
}

.progress-data-header {
    text-align: center;
    margin-bottom: 25px;
}

.progress-data-header p {
    font-size: 25px;
    font-weight: 600;
}

.progress-progress-bar {
    width: 50%;
    margin: 0 auto;
}

.progress-list ul {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.list-block-item {
    display: flex;
    gap: 15px;
    border-radius: 2px;
    background: #666;
    padding: 5px;
}

.useful-links-header button {
    position: absolute;
    left: 94%;
}

.useful-links-header button:hover svg path,
.achievements-header button:hover svg path,
.progress-header button:hover svg path,
.update-image-header button:hover svg path,
.edit-profile-page-header button:hover svg path {
    stroke: rgba(255, 112, 112, 1)
}

.progress-header-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.progress-header-data img{
    object-fit: contain;
}

.useful-links-content {
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    max-height: 651px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.useful-links-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 25px;
}

.useful-links-content li {
    position: relative;
    width: 49%;
    height: 63px;
    box-sizing: border-box;
    border-radius: 31.5px;
    background: linear-gradient(270deg, rgba(92, 92, 92, 0.60) 0.31%, #5C5C5C 99.61%);
    text-align: center;
    padding-top: 15px;
}

.useful-links-content li:hover{
    background-color: #5E5E5E;
}

.useful-links-content a {
    height: 100%;
    display: block;
}

.useful-links-content img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #312F2F;
}

.planet {
    position: relative;
    user-select: none;
    cursor: pointer;
}


.planet img{
    pointer-events: none;
}

.planet:nth-child(even) {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 15%;
}

.comets{
    z-index: -100;
    position: absolute;
    pointer-events: none;
}

.comets img {
    width: 563px;
    height: 533px;
}

.planet:nth-child(even) .comets {
    transform: rotate(145deg);
    top: -50%;
    right: 110%;
}

.big-planet:nth-child(even) .comets {
    transform: rotate(145deg);
    top: -30%;
    right: 80%;
}

.planet:nth-child(odd) {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 15%;
}

.planet:nth-child(odd) .comets {
    z-index: -1;
    align-self: flex-end;
    top: -40%;
    left: 100%;
    transform: rotate(0deg);
}

.big-planet:nth-child(odd) .comets {
    z-index: -1;
    align-self: flex-end;
    top: -40%;
    left: 70%;
    transform: rotate(0deg);
}

.planet:nth-last-child(1) .comets {
    display: none;
}

.task-block {
    display: flex;
    gap: 5px;
    padding: 20px 10px 20px 20px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #1B1A1A;
    border-radius: 14px;
    height: 850px;
}

.monsters {
    position: relative;
    width: 30%;
    flex-direction: column;
}

.monster-header {
    margin-bottom: 15px;
}

.monster-header p {
    color: #00C996;
    font-size: 18px;
}

.monster-content {
    max-height: 95%;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.monster button {
    display: flex;
    width: 100%;
    border-radius: 17px;
    background: var(--secondary-dark-dark-gray, #333231);
    padding: 5px 9px;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}

.monster button .completed {
    margin-left: auto;
}

.monster p.completed {
    margin-left: 0 !important;
    color: #00C996;
}

.monster p.being_checked {
    margin-left: 0 !important;
    color: #F39314;
}

.task-content {
    box-sizing: border-box;
    width: 70%;
    padding-right: 10px;
}

.task-name {
    font-size: 25px;
    border-bottom: 1px solid #00C996;
    margin-bottom: 10px;
}

.task-data {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    height: 71%;
    overflow: auto;
    overflow-x: hidden;
}

.with-curator-comment{
    height: 59% !important;
}

.task-comments input,
.task-comments #comment {
    width: 100%;
    border-radius: 8px;
    background: #454545;
    font-size: 20px;
    height: 50px;
    overflow: auto;
    overflow-x: hidden;
}
.user-answer {
    margin-bottom: 10px;
}

.user-answer textarea {
    margin-bottom: 0 !important;
}

.task-comments input{
    margin-bottom: 10px;
}

.task-comments #comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.button-to-tasks,
.decline-button,
.approve-button,
.completed-button,
.being-checked {
    display: block;
    background-color: #02392B;
    width: fit-content;
    padding: 0 20px;
    height: 36px;
    margin-left: auto;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.button-to-tasks:hover,
.approve-button:hover {
    background-color: rgba(0, 122, 91, 1);
}

.decline-button:hover {
    background-color: rgba(239, 34, 34, 1);
}

.header-nav {
    font-size: 25px;
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.header-nav .active {
    color: #45F5C9;
}

.constructor-block,
.task-edit-block,
.task-for-verification-block,
.personal-block {
    display: flex;
    border-radius: 25px;
    background: #272626;
    backdrop-filter: blur(42.5px);
    max-width: 1350px;
    height: 850px;
    margin: auto;
    margin-top: 20px;
    gap: 12px;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    height: 850px;
}

.constructor-planet-list {
    box-sizing: border-box;
    width: 30%;
    padding: 0 10px 0 20px;
    border-radius: 25px;
}

.constructor-planet-list-block,
.constructor-task-list-block,
.task-for-verification-list {
    position: relative;
    max-height: 85%;
    overflow: auto;
    overflow-x: hidden;
}

.constructor-task-list-block {
    max-height: 80%;
}

.constructor-planet-list-item,
.selected-block-monster-list-item,
.task-for-verification-list-item {
    left: 0% !important;
    cursor: pointer;
    padding: 15px;
    display: flex;
    border-radius: 13px;
    background: #3F3F3F;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    user-select: none !important;
}

.constructor-planet-list-item img {
    object-fit: contain;
}

.constructor-planet-list-item.active,
.selected-block-monster-list-item.active,
.task-for-verification-list-item.active,
.monster.active button {
    background: #5E5E5E;
}

.constructor-planet-list-item:hover,
.selected-block-monster-list-item:hover,
.task-for-verification-list-item:hover,
.monster button:hover {
    background: #5E5E5E;
}

.constructor-planet-list button:hover circle,
.selected-block-monster-list button:hover circle,
.task-for-verification-list button:hover circle,
.personal-block-header button:hover circle {
    fill: rgba(0, 201, 150, 1);
}

.monster p, .constructor-planet-list-item-content p, .selected-block-monster-list-item-content p
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.constructor-planet-list-item-content,
.selected-block-monster-list-item-content,
.task-for-verification-list-item-content {
    width: 70%;
    margin-left: 5px;
    margin-top: 10px;
}

.delete-icon {
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
}

.delete-icon:hover path {
    stroke: rgba(237, 66, 66, 1);
}

.constructor-planet-list-item .date,
.constructor-planet-list button,
.selected-block-monster-list .date,
.selected-block-monster-list button {
    font-size: 14px;
}

.constructor-planet-list button,
.new-task-button {
    position: relative;
    display: flex;
    border-radius: 25px;
    background: #3F3F3F;
    width: 95%;
    font-size: 18px !important;
    margin-top: 15px;
    padding: 8px 30px 8px 8px;
    height: 87.955px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}

.selected-block-content {
    width: 70%;
}

.selected-block-content input,
.edit-content input {
    padding: 10px;
    padding-right: 12%;
    box-sizing: border-box;
    border-radius: 13px;
    background: #191919;
    width: 100%;
    font-size: 21px;
}

.selected-block-data {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 70px;
    height: 90%;
}

.selected-block-monster-list {
    width: 30%;
    box-sizing: border-box;
    padding: 0 10px 0 20px;
    border-radius: 25px;
}

.add-task-form-flex {
    width: 55%;
}

.header-task-form {
    width: fit-content;
    margin-left: 10px;
    border-bottom: 1px solid #00C996;
    margin-bottom: 10px;
}

.add-task-form {
    box-sizing: border-box;
    border-radius: 25px;
    background: #191919;
    height: fit-content;
    font-size: 18px;
    padding: 0 20px 10px 20px;
}

.add-task-form-choice {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0 40px;
}

.add-task-form-choice .active-select {
    color: #00C996;
    stroke: #00C996;
    border-bottom: 1px solid #00C996;
}

.add-task-form-choice p {
    user-select: none !important;
    cursor: pointer;
    position: relative;
}

.add-task-form-choice svg {
    position: absolute;
    left: -25px;
    top: 10%;
}

.add-task-form select {
    margin-top: 35px;
    width: 100%;
    border-radius: 3px;
    background: #3F3F3F;
    height: 40px;
    font-size: 21px;
}

.add-task-form button {
    display: block;
    width: 40%;
    height: 40px;
    border-radius: 44px;
    font-size: 20px;
    background: #5C5C5C;
    margin-left: auto;
    margin-top: 35px;
}

.added-employee-block {
    width: 45%;
    height: 90%;
}

.added-employee-list {
    border-radius: 8px;
    background: #191919;
    padding: 13px 0 0 18px;
    max-height: 85%;
    overflow: auto;
    overflow-x: hidden;
}

.added-list-item {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #3F3F3F;
    width: 90%;
    gap: 10px;
}

.added-list-item p {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.added-list-item:hover .delete-user {
    display: block !important;
}

.task-edit-block {
    display: flex;
}

.edit-content {
    width: 70%;
}

.quill-block {
    margin-top: 20px;
    height: 80%;
    color: black;
}

.quill{
    height: 100%;
}


.ql-toolbar {
    background: #797979;
}

.ql-editor {
    font-size: 20px;
    background: rgba(105, 105, 105, 0.55);
}

.ql-editor span, .ql-editor strong, .ql-editor em, .ql-editor u, .ql-editor s, .task-data span, .task-data strong, .task-data em, .task-data u, .task-data s{
    background-color: rgba(1, 1, 1, 0) !important;
}

.ql-fill {
    fill: white !important;
}

.ql-toolbar button:hover .ql-fill {
    fill: #00C996 !important;
}

.ql-picker-label:hover .ql-stroke {
    stroke: #00C996 !important;
}

.ql-picker-item:hover .ql-stroke {
    stroke: #00C996 !important;
}

.ql-stroke {
    stroke: white !important;
}

.ql-toolbar button:hover .ql-stroke {
    stroke: #00C996 !important;
}

.ql-video {
    height: 500px;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: #797979;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #00C996 !important;
}

.task-for-verification-list {
    max-height: 100%;
    width: 30%;
    overflow: auto;
    overflow-x: hidden;
}

.task-approve-content {
    width: 70%;
}

.task-approve-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.task-approve-buttons button {
    margin-left: 0;
}


.task-for-verification-list-item-content .bold {
    font-size: 20px;
}

.decline-button {
    background-color: #ED4242;
}

.approve-button {
    background-color: #02392B;
}

.completed-button {
    cursor: default;
    background-color: #00C996;
}

.being-checked {
    cursor: default;
    background-color: #F9A22F;
}

.decline-comment-dialog {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    padding-top: 40px;
}

.decline-comment-dialog textarea {
    margin: 20px;
    margin-bottom: 0;
    width: 90%;
    height: 500px;
    background-color: #454545;
    font-size: 22px;
    padding: 20px;
}

.decline-comment-field{
    margin-bottom: 20px;
}

.decline-comment-dialog textarea::placeholder {
    font-size: 22px;
}

.decline-comment-dialog button {
    margin: 0 auto;
}

.personal-block {
    padding: 35px;
    display: block;
}

.personal-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #505050;
}

.personal-block-header svg {
    width: 52px;
    height: 52px;
}

.personal-block-header input {
    width: 20%;
    height: 32px;
    background-color: #3F3F3F;
    border-radius: 6px;
    padding-left: 5px;
}

.personal-block-header input::placeholder {
    color: #979797;
    font-size: 16px;
}

table,
tr {
    border: 1px solid #505050;
}

th {
    cursor: pointer;
    text-align: left;
    user-select: none
}

th,
td {
    padding-left: 20px;
    width: 17%;
}

th:hover {
    color: #00C996;
}

th img {
    margin-left: 5px;
}

tr {
    height: 63px;
}

table {
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
}

.personal-table {
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;
}

table .approve-button {
    margin: 0;
    margin-right: 20px;
}

.add-employee-form {
    padding: 40px 60px 40px 60px;
    text-align: center;
}

.add-employee-select-block{
    position: relative;
}

.add-employee-select-block img{
    position: absolute;
    top: 10%;
    left: 1%;
}

.add-employee-form p {
    font-size: 24px;
    margin-bottom: 40px;
}

.add-employee-form input,
.add-employee-form select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: #3F3F3F;
    font-size: 22px;
    padding-left: 40px;
}

.add-employee-form input{
    padding-left: 40px;
}

.add-employee-form button[type="submit"] {
    width: 177px;
    height: 40px;
    border-radius: 11px;
}

.employee-data {
    height: 90%;
    padding: 20px;
}

.employee-data-header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #00C996;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.employee-data-header .profile-logo {
    width: 45px;
    height: 45px;
    user-select: none;
}

.employee-data-container {
    overflow: auto;
    height: 80%;
}

.employee-data-container ul {
    margin-top: 20px;
}

.employee-data-container li{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.employee-data-container img{
    object-fit:contain;
}

.employee-progress-data{
    width: 100%;
}

.employee-progress-data div[role="progressbar"]{
    display: inline-block !important;
    width: 50%;
    margin-top: 10px;
}

.selected-bock-header {
    gap: 4%;
    display: flex;
    font-size: 25px;
}

.selected-bock-header div {
    position: relative;
    width: 80%;
}

.selected-bock-header span,
.selected-task-input span {
    position: absolute;
    text-align: right;
    width: 10%;
    left: 88%;
    top: 45%;
    font-size: 18px;
}

.weight-edit-data {
    text-align: right;
    margin-top: 50px;
}

.weight-edit-data .error-message {
    font-size: 21px;
}

.selected-task-input {
    position: relative;
}

.selected-bock-header p {
    align-self: center;
    width: fit-content;
    border-bottom: 1px solid #00C996;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
    content: '15px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: '20px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
    content: '30px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
    content: '50px';
}

.edit-profile {
    cursor: pointer;
}

.update-image {
    padding-left: 0;
    padding-bottom: 20px;
    z-index: 300;
}

.update-image input {
    display: none;
}

.update-image-content {
    border-top: 1px solid #00C996;
    border-bottom: 1px solid #00C996;
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.edit-profile-page-content {
    display: flex;
    gap: 10%;
    border-top: 1px solid #00C996;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
}

.edit-profile-page .send-button {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    margin: 0;
    margin-left: 2% !important;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(0, 106, 79, 1);
    font-size: 20px;
}

.edit-profile-page .send-button:hover {
    background-color: #00C996;
}

.profile-data {
    width: 60%;
}

.profile-data input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    background-color: #272626;
    height: 30px;
    padding-left: 10px;
    font-size: 21px;
    margin-bottom: 10px;
}

.profile-data input[disabled] {
    background: #454545;
    border: none;
}

.profile-edit-image-data {
    position: relative;
    border-radius: 50%;
    width: 197px;
    height: 197px;
    margin-left: 30px;
    margin-top: 10px
}

.profile-edit-image-data img {
    border-radius: 50% !important;
}

.profile-edit-image-data:hover .edit-icon-shower {
    display: initial !important;
}

.edit-icon-shower {
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    width: 197px;
    height: 197px;
    background-color: rgba(0, 0, 0, 0.69);
    display: none;
}

.edit-icon-shower img {
    border-radius: 0 !important;
    margin-left: 15%;
    margin-top: 15%;
}

.update-image-content p {
    margin-bottom: 50px;
}

.update-image-content .button,
.edit-image button {
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    padding: 15px 22px;
    width: fit-content;
    border-radius: 14px;
    background: var(--selected, #00C996);
}

.edit-image {
    text-align: center;
    font-size: 25px;
    padding: 0 20px;
}

.edit-image .cropper {
    margin: 50px 0;
    height: 500px;
}

.update-image-footer {
    font-size: 22px;
    text-align: center;
}

.profile-logo img,
.profile-logo {
    border-radius: 50%;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.without-color {
    background-color: rgba(1, 1, 1, 0);
}

.ql-editor .ql-video,
.task-data .ql-video {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block !important;
}

.ql-editor img,
.task-data img {
    max-width: 80% !important;
    max-height: 80% !important;
    display: block;
    margin: 0 auto;
}

.ql-editor p,
.task-data p {
    margin-bottom: 10px;
}

.rotate {
    transform: rotate(180deg);
}

.delete-user {
    display: none;
    position: absolute;
    width: 30px;
    top: -10%;
    left: 100%;
}

.ql-size-huge {
    font-size: 50px;
}

.ql-size-small {
    font-size: 15px;
}

.ql-size-large {
    font-size: 30px;
}

.ql-snow a {
    color: #00C996;
}

.task-data a {
    text-decoration: underline;
    color: #00C996;
}

.task-data ol,
.task-data ul {
    padding-left: 2.5em;
    margin-bottom: 10px;
}

.task-data ul {
    list-style: disc;
}

.ql-editor ol,
.ql-editor ul {
    margin-bottom: 10px;
}

.ql-editing {
    position: absolute !important;
    top: 0 !important;
    left: 25% !important;
    margin: 0 !important;
    margin: 0 !important;
    background-color: lightgray !important;
}

.ql-snow .ql-tooltip[data-mode=link]::before {
    content: "Введите ссылку";
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: 'Сохранить';
}

.ql-snow .ql-tooltip a.ql-action::after {
    margin: 0;
}

.ql-action {
    margin-left: 10px;
    border-radius: 5px;
    width: 10px !important;
    background-color: #02392B;
    color: white !important;
    padding: 10px;
}

.ql-snow .ql-tooltip[data-mode=video]::before {
    content: 'ссылка на видео';
}

.ql-align-center{
    text-align: center;
}

.ql-align-right{
    text-align: right;
}

.user-name-info {
    display: flex;
    gap: 5%;
}

.exit-button {
    position: absolute !important;
    left: 90%;
    height: 35px;
    margin-left: auto !important;
    width: 10% !important;
    border-radius: 50% !important;
    padding-left: 9px !important;
}

.exit-button:hover {
    background-color: #1B1A1A !important;
}

.exit-button:hover path {
    stroke: #FF7070;
}

.not-found{
    text-align: center;
}

@media (max-width: 1920px) {

    .constructor-block,
    .task-edit-block,
    .task-for-verification-block,
    .personal-block,
    .task-block {
        height: 90vh;
    }
}

@media (max-width: 1540px) {
    .header-nav {
        gap: 40px;
        align-items: center;
        font-size: 20px;
        margin-top: 0;
    }

    .constructor-block,
    .task-edit-block,
    .task-for-verification-block,
    .personal-block,
    .task-block {
        height: 85vh;
    }

    .added-employee-list {
        max-height: 75%;
    }

    .task-data {
        max-height: 61%;
    }

    .with-curator-comment{
        max-height: 49%;
    }

    .personal-table {
        height: 75%;
    }

    .notification-list {
        height: 500px;
    }

    .edit-image .cropper {
        height: 400px;
    }

    .decline-comment-dialog textarea {
        height: 400px;
    }

    .monster-content {
        max-height: 95%;
    }

    .achievement {
        width: 48%;
    }

    .achievements-content,
    .progress-content {
        gap: 25px;
        height: 451px;
        padding-right: 10px;
    }

    .edit-profile-page, .useful-links-block, .progress-block, .achievements-block, .update-image, .task-data, .decline-comment-dialog, .add-employee-form, .employee-data{
        width: auto !important;
    }

    .constructor-planet-list-block{
        height: 75%;
    }
    
    .constructor-task-list-block{
        height: 70%;
    }
    
    .quill-block{
        height: 70%;
    }
}

@media (max-width: 1280px) {
    .planet button img {
        width: 155px;
    }

    .big-planet button img {
        width: 345px;
    }

    .planet button img {
        width: 155px;
    }

    .big-planet button img {
        width: 345px;
    }

    .comets img {
        width: 467px;
        height: 437px;
    }

    .notification-block{
        width: 370px;
    }

    .notification-list {
        height: 400px;
    }

    .task-content, .task-content{
        font-size: 15px !important;
    }

    .task-comments input, .task-comments #comment {
        height: 35px;
        font-size: 15px;
    }

    .constructor-planet-list-block {
        max-height: 75%;
    }

    header{
        padding-left: 20px;
        padding-right: 20px;
    }

    .task-approve-buttons button{
        margin-top: 0;
    }

    .personal-table .approve-button{
        font-size: 13px;
        padding: 0 5px;
        width: 90%;
    }

    .employee-data-container {
        height: 70%;
    }
}

@media (max-width: 1100px) {
    .big-planet:nth-child(odd) .comets {
        top: -0%;
        left: 70%;
    }

    .big-planet:nth-child(even) .comets {
        top: -10%;
        right: 80%;
    }

    .comets img {
        width: 371px;
        height: 341px;
    }

    .profile-buttons{
        width: 346px;
    }

    .profile-buttons p{
        font-size: 14px;
    }

    .progress-content, .achievements-content {
        height: 351px;
    }

    .edit-image .cropper{
        height: 300px;
    }

    .task-block{
        height: 84%;
    }

    .task-data {
        max-height: 51%;
    }

    .with-curator-comment{
        max-height: 39%;
    }

    .added-employee-block{
        height: 80%;
    }

    .constructor-block button, .new-task-button{
        font-size: 13px !important;
    }

    .constructor-planet-list button, .new-task-button{
        height: fit-content;
    }

    .constructor-block button svg, .new-task-button svg{
        width: 47px;
    }

    .header-task-form{
        font-size: 17px;
    }

    .add-task-form-choice {
        padding-right: 10px;
    }
    
    .selected-bock-header p{
        font-size: 20px;
    }

    .selected-bock-header span, .selected-task-input span {
        font-size: 13px;
        top: 56%;
    }

    .add-task-form select{
        font-size: 20px;
    }

    .added-list-item{
        width: 80%;
    }

    .quill-block{
        height: 60%;
    }

    .decline-comment-field textarea{
        height: 300px;
    }

    .personal-table{
        height: 65%;
    }

    .constructor-planet-list-item .constructor-planet-list-item-content, .selected-block-monster-list-item .selected-block-monster-list-item-content{
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .big-planet:nth-child(odd) .comets {
        top: -0%;
        left: 70%;
    }

    .big-planet:nth-child(even) .comets {
        top: -0%;
        right: 80%;
    }

    .planet button img {
        width: 123px;
    }

    .big-planet button img {
        width: 313px;
    }

    .comets img {
        width: 371px;
        height: 341px;
    }

    .notification-block{
        width: 270px;
    }

    .notification-list {
        height: 300px;
    }

    .notification-item p, .notification-item b {
        font-size: 0.5rem;
    }

    .not-checked{
        width: 10px;
        height: 10px 
    }

    .progress-content, .achievements-content{
        height: 251px;
    }

    .edit-image .cropper{
        height: 200px;
    }

    .task-block{
        height: 81%;
    }

    .monster-content{
        height: 90%;
    }

    .with-curator-comment{
        max-height: 29%;
    }

    .header-nav{
        font-size: 15px;
    }

    .constructor-task-list-block{
        height: 60%;
    }

    .employee-data-container {
        height: 60%;
    }

    .constructor-planet-list-item .constructor-planet-list-item-content, .selected-block-monster-list-item .selected-block-monster-list-item-content{
        width: 50%;
    }
}

@media (max-width: 900px) {
    .big-planet:nth-child(odd) .comets {
        transform: rotate(10deg);
        top: 30% !important;
        left: 70% !important; 
    }

    .big-planet:nth-child(even) .comets {
        transform: rotate(135deg);
        top: 30% !important;
        right: 80% !important;
    }

    .planet:nth-child(even) .comets {
        top: -20%;
        right: 110%;
    }
    .planet:nth-child(odd) .comets {
        top: -20%;
        left: 100%;
    }

    .comets img {
        width: 307px;
        height: 277px;
    }
}

@media (max-width: 800px) {
    .planet:nth-child(even) .comets {
        top: -20%;
        right: 110%;
    }
    .planet:nth-child(odd) .comets {
        top: -20%;
        left: 100%;
    }

    .planet button img {
        width: 91px;
    }

    .big-planet button img {
        width: 281px;
    }

    .comets img {
        width: 275px;
        height: 245px;
    }

    .progress-bar div[role="progressbar"]{
        min-width: 150px;
    }

    .notification-block{
        width: 200px;
    }

    .notification-list {
        height: 200px;
    }

    .notification-item p, .notification-item b {
        font-size: 0.4rem;
    }

    .profile-buttons{
        width: 246px;
    }

    .profile-buttons img{
        height: 27px;
    }

    .profile-buttons p{
        font-size: 8px;
    }

    .exit-button{
        height: 20px;
    }

    .edit-profile-page{
        width: 100%;
    }
}