<div style="padding-top: 90px;padding-bottom: 90px;background: #0F0D0D;">
    <div class="enter-page" style="font-family: Roboto, Helvetica, Arial, sans-serif; color: white; display: block; font-size: 25px; font-weight: 400; width: 70%;
    background: #272626;  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);  border-radius: 33px; padding: 38px 97px 38px 97px; box-sizing: border-box; font-style: normal; margin: 0px auto;">
        <img style="display: block;margin: 0 auto;margin-bottom: 10px;" src="" alt="" width='299px' height='57px'></img>
        <div style="text-align: center;font-size: 22px;margin-top: 10%;margin-bottom: 10%;">
            <p style="color: white!important;text-decoration: none;"><b>Проверка космонавта!</b></p>
            <br>
            <span style="color: white !important;text-decoration: none;">
                Сотрудник {{ user_from.name }} отправил задачу “{{ task.name }}” на проверку!
            </span>
            <br><br>
        </div>
        <div style="margin: 0 auto; text-align: center;">
            <picture>
                <source srcset="/media/cc0-images/surfer-240-200.jpg" />
                <img src="/profile-logo.png" alt="" />
            </picture>              
            <img style="margin-right: 10%;" src="" alt="Пользователь" width="128px" height="128px">
            <img style="margin-right: 10%;" src="" alt="Планета" width="128px" height="128px">
            <img src="" alt="Этап" width="128px" height="128px">
        </div>
        <a style="color: white !important; text-align: center; text-decoration: none;display: block;width: 183px;border-radius: 10px;background: #00c996;margin: 0 auto;margin-top: 30px;font-size: 24px;padding-top: 7px;padding-bottom: 7px;" href="http://localhost:3000/login/new-password?token={{ token }}">
            Перейти</a>
    </div>
</div>
